/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12 mai 2017, 19:05:33
    Author     : rjacquiez
*/

@font-face {
	font-family: "Roboto";
	src: url('../polices/Roboto-Regular.ttf');
}

.div_overlay {
    overflow: hidden;
    border : solid 1px #EAEAEA;
    background-color: #F9F9F9;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 615px;
    text-align: center;
    font-family: "Roboto";
}

.texte_overlay{
    color: #969696;
}

.div_titre_overlay{
    margin-top: 5px;
}

.titre_overlay{
    letter-spacing: 2px;
    font-size: 175%;
    font-weight: bolder;
    text-transform: uppercase;
}

.div_svg{
    margin-bottom: 10px;
    width: 75%;
    display: inline-block;
}

.svg path{
    fill: #B7D4BE;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.7;
    transition: fill 0.3s;
}

.svg path:hover{
    fill: #f74a00;
}

.div_bas_overlay{
    margin-top: 10px;
}

.div_select_overlay{
    display: block;
    text-align: center;
    margin: auto;
}

#validation_overlay{
    margin: 8px 0 0 0;
}

#span_validation_overlay{
    color: #969696;
}

#select_overlay{
    background-color: #CCCCCC;
    font-family: "Roboto";
    border: solid 1px #f74a00;
    padding: 3px;
    
}

#select_overlay:hover{
    color: #888787;
    transition: .3s color;
    cursor: pointer;
}

.option_overlay{
    background-color: #EAEAEA;
    color: black;
}

.option_overlay:hover{
    background-color: #EAEAEA;
    color: black;
}

.button_overlay{
    margin: 5px 0 5px 0;
    padding: 3px;
    background-color: #CCCCCC;
    font-family: "Roboto";
    border: solid 1px #f74a00;
}
.button_overlay:hover{
    cursor: pointer;
    color: #888787;
    transition: .3s color;
}