/* 
    Created on : 17 mai 2017, 18:25:12
    Author     : aparant
*/

html, body 
{ 
    height: 100%; 
    margin: 0;
}

.page 
{
    min-height: 100%;
    position: relative;
}

.bloc-principal 
{
    padding-bottom: 90px;
}

.clear
{
    margin: 50px;
}

.site-footer 
{
    font-family: 'Trebuchet MS';
    min-width: 100%;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.up_footer
{
    background-color: #252525;
}

.up_footer_content
{
    color: white;
    display: inline-block;
    text-align: center;  
    padding: 10px;
    vertical-align: middle;
    line-height: 50px;
}

.up_footer_content:hover
{
    color: #f74a00;
}

a:link
{
    text-decoration: none;
}

#logo_footer_hay
{
    width: auto;
    height: 90px;
}

#logo_footer_facebook
{
    width: auto;
    height: 90px;
}

.down_footer
{
    background-color: black;
}

.down_footer_content
{
    font-size: 15px;
    color: white;
}
