/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 mai 2017, 17:04:49
    Author     : rjacquiez
*/

.erreur{
    font-family: 'Arial';
    font-weight: bold;
    color: red;
}

fieldset{
    background-color: white;
}

#img_loader{
    width: 5%;
}
