/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 juin 2017, 13:36:04
    Author     : rjacquiez
*/

html, body{
  min-height: 100%;
}

body{
  position: relative;
  background-image: url(../images/hayfrancecompany_fondpage.jpg);
  background-repeat: repeat-y;
}

/* Définition des fonts non-standard */
@font-face {
	font-family: "Roboto";
	src: url('../polices/Roboto-Regular.ttf');
}

/* La div de l'ensemble du panier */
.div_ensemble_panier{
    text-align: center;
    background-color: white;
    width: 75%;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #EAEAEA;
    font-family: "Roboto";
}

/* La div qui contient le span titre du panier */
.div_titre_panier{
    margin: 30px 0 50px 0;
}

/* Le span titre du panier */
.titre_panier{
    font-size: 210%;
    font-weight: bold;
    letter-spacing: 2px;
    color: #969696;
}

/* La div du panier */
.div_panier{
    width: 80%;
    display: inline-block;
    text-align: end;
}

/* La div qui contient les produits */
.div_produit_panier{
}

/* La div qui contient le produit */
.produit_panier{
    text-align: initial;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: solid 2px #B7D4BE; 
}
.produit_panier:hover{
    border-color: #f74a00;
    transition: .5s;
}

/* Les elements d'une div class="produit_panier" */
.element_produit_panier{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 290px;
    height: 80px;
}

/* L'image du produit */
.image_produit_panier{
    max-width: 100%;
    max-height: 100%;
}

/* Le nom du produit */
.nom_produit_panier{
    margin-top: 27px;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 2px;
    color: #969696;
}

/* La div contenant la sous div du prix du panier */
.div_prix_panier{
    display: inline-block;
}

/* Sous div contenant le prix total du panier */
.prix_panier{
}

/* Le span qui introduit le prix du panier */
.span_prix_panier{
    font-size: 150%;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #969696;
}

/* Le prix du panier */
.le_prix_panier{
    font-size: 150%;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #f74a00;
}

/* La div du boutton d'envoi du panier */
.div_button_panier{
    
}

/* Le boutton d'envoi du panier */
.button_panier{
    margin: 30px 0 30px 0;
    padding: 10px 15px 10px 15px;
    background-color: #CCCCCC;
    font-family: "Roboto";
    border: solid 2px #f74a00;
    font-size: 180%;
    letter-spacing: 2px;
}
.button_panier:hover{
    cursor: pointer;
    color: #888787;
    transition: .3s color;
}

